:root {
    --bg-color: #0f172a;
    --main-color: #38bdf8;
    --text-color: #e5e7eb;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #020617;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.navbar a {
    color: var(--text-color);
    text-decoration: none;
}