:root {
    --bg-color: #0f172a;
    --main-color: #38bdf8;
    --text-color: #e5e7eb;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #020617;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.navbar a {
    color: var(--text-color);
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 4rem 1rem;
}

.hero h2{
    color: var(--main-color);
}

.cta {
    display: inline-block;
    margin-top: 1.5rem;
    padding: 0.8rem 1.5rem;
    background: var(--main-color);
    color: black;
    text-decoration: none;
    transition: transform 0.3s;
}

.cta:hover {
    transform: scale(1.5);
}


.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
}

.feature-card {
    background: #020617;
    padding: 1rem;
    text-align: center;
    box-shadow: 0px 0px 20px 1px var(--main-color), 8px 8px 0px 0px var(--main-color), -8px -8px 0px 0px var(--text-color);
}

.feature-card img {
    width: 60px;
}

.content{
    padding: 0 2rem;
}
.content h3{
    color: var(--main-color);
}


.gallery {
    display: flex;
    gap: 3rem;
    padding: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    
}

.gallery img {
    width: 500px;
    transition: transform 0.3s, opacity 0.3s;
    box-shadow: 0px 0px 20px 1px var(--main-color), 8px 8px 0px 0px var(--main-color), -8px -8px 0px 0px var(--text-color);
    /* transition-duration: 1000ms; */
}

.gallery img:hover {
        box-shadow: 0px 0px 20px 1px var(--main-color);
    transform: scale(1.05);
    opacity: 0.8;
}


footer {
    text-align: center;
    padding: 1rem;
    background: #020617;
    margin-top: auto;
}

@media (max-width: 768px) {
    .features {
        grid-template-columns: 1fr;
    }

    .navbar ul {
        flex-direction: column;
    }
}
